

body {
    background: #fff;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #00acac;
    -webkit-transition: all .2s cubic-bezier(.6, .045, .4, 1);
    -moz-transition: all .2s cubic-bezier(.6, .045, .4, 1);
    transition: all .2s cubic-bezier(.6, .045, .4, 1);
}

a:active,
a:focus,
a:hover {
    color: #008a8a;
}

/* ====== TOP NAV ====== */

.top-nav {
    background: #242A30;
    z-index: 1040;
    position: relative;
}

.top-nav .dropdown-menu > li > a,
.top-nav .nav > li > a {
    line-height: 20px;
    color: #fff;
}

.top-nav .nav > li > a {
    font-size: 12px;
    padding: 10px;
    -webkit-transition: opacity .2s cubic-bezier(.6, .045, .4, 1);
    -moz-transition: opacity .2s cubic-bezier(.6, .045, .4, 1);
    transition: opacity .2s cubic-bezier(.6, .045, .4, 1);
}

.top-nav .nav:first-child {
    margin-left: -15px;
}

.top-nav .nav > li > a:focus,
.top-nav .nav > li > a:hover {
    background: none;
    color: #fff;
    opacity: .65;
}

.top-nav .flag-img {
    float: left;
    margin-top: 4px;
    margin-right: 5px;
    height: 12px;
}

.top-nav .dropdown-menu .flag-img {
    margin-right: 10px;
    margin-left: -5px;
    width: 20px;
}

.top-nav .dropdown-menu {
    background: #2d353c;
}

.top-nav .dropdown-menu > li > a:focus,
.top-nav .dropdown-menu > li > a:hover {
    background: #242A30;
}

/* ====== HEADER + LOGO + MAIN NAV ====== */

.header {
    background: #fff;
    padding: 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
    z-index: 1030;
    position: relative;
}

.header.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1040;
}

.header .container {
    position: relative;
}

.header .header-container {
    display: table;
    width: 100%;
}

.header-logo,
.header-nav {
    display: table-cell;
    vertical-align: middle;
}

.header-logo {
    width: 240px;
    height: 76px;
}

.header-logo a {
    color: #212121;
    text-decoration: none;
    font-size: 20px;
}

.header-logo a span {
    color: #009688;
}

.header-logo a small {
    display: block;
    font-size: 12px;
    font-weight: 400;
    margin-top: -3px;
    color: #9E9E9E;
}

.header-logo .brand {
    float: left;
    border: 15px solid transparent;
    border-color: #33bdbd #009688 #008a8a;
    margin: 6px 12px 6px 10px;
    border-radius: 6px;
    box-shadow: 0 5px 5px -4px #000;
}

.header-nav .nav > li {
    float: left;
}

.header-nav .nav > li > a {
    color: #212121;
    line-height: 56px;
}

.header-nav .nav > li.divider {
    width: 1px;
    height: 24px;
    margin: 26px 0;
    background: #e5e5e5;
}

.header-nav .nav > li.active > a,
.header-nav .nav > li.active > a:focus,
.header-nav .nav > li.active > a:hover {
    color: #009688;
}

.header-nav .nav > li.open > a,
.header-nav .nav > li.open > a:focus,
.header-nav .nav > li.open > a:hover,
.header-nav .nav > li > a:focus,
.header-nav .nav > li > a:hover {
    background: none;
    color: #707478;
}

/* ====== HEADER CART ====== */

.header-cart {
    display: block;
    color: #212121;
}

.header-cart .header-cart-icon {
    float: right;
    font-size: 28px;
    height: 48px;
    width: 48px;
    text-align: center;
    line-height: 48px;
    position: relative;
    margin: -18px -15px -18px 0;
}

.header-cart .header-cart-icon .total {
    position: absolute;
    top: 12px;
    right: 7px;
    font-size: 9px;
    background: #ff5b57;
    color: #fff;
    font-weight: 700;
    border-radius: 14px;
    line-height: 14px;
    padding-left: 4px;
    padding-right: 4px;
}

.header-cart .header-cart-text {
    margin-right: 35px;
    line-height: 20px;
}

.header-cart i {
    font-size: 20px;
    float: left;
    line-height: 56px;
    margin-right: 5px;
}

.header-cart .total {
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    background: #00acac;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 20px;
}

/* ====== DROPDOWN CART ====== */

.header .dropdown-menu {
    margin: 0;
    padding: 0 15px;
    border-top: 3px solid #00acac;
    border-radius: 0 0 4px 4px;
    min-width: 240px;
}

.header .dropdown-menu > li > a {
    padding: 10px 0;
    line-height: 20px;
}

.header .dropdown-menu > li > a:focus,
.header .dropdown-menu > li > a:hover {
    background: none;
    color: #009688;
}

.header .dropdown-menu > li.arrow + li {
    border-top: none;
}

.header .dropdown-menu > li + li {
    border-top: 1px solid #e5e5e5;
}

.dropdown-menu.dropdown-menu-cart {
    left: auto;
    right: 0;
    margin-right: -142px;
    width: 360px;
}

.cart-body,
.cart-footer,
.cart-header {
    padding: 15px;
}

.cart-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cart-item > li {
    display: table;
    width: 100%;
}

.cart-item > li > div {
    display: table-cell;
    vertical-align: middle;
}

.cart-item > li + li {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #e5e5e5;
}

.cart-item > li h4 {
    font-size: 15px;
    line-height: 19px;
    margin: 3px 0;
}

.cart-item > li .price {
    color: #777;
    font-size: 12px;
    margin: 0;
}

.cart-title {
    font-size: 12px;
    font-weight: 700;
    margin: 0;
}

.cart-item-image {
    float: left;
    width: 80px;
    height: 60px;
    padding: 7px;
    overflow: hidden;
    text-align: center;
    line-height: 44px;
    border: 1px solid #e5e5e5;
}

.cart-item-image img {
    max-width: 100%;
    max-height: 100%;
}

.cart-item-info {
    width: 80%;
}

.cart-item-image + .cart-item-info,
.cart-item-info + .cart-item-close {
    padding-left: 15px;
}

.cart-item-close a {
    font-size: 18px;
    color: #999;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
    display: block;
    text-decoration: none;
    border-radius: 24px;
    background: #f9f9f9;
}

.cart-item-close a:focus,
.cart-item-close a:hover {
    background: #b6c2c9;
    color: #fff;
}

/* ====== FOOTER ====== */

.footer {
    padding: 30px 0;
    font-size: 12px;
    color: #a8acb1;
    background: #242a30;
    box-shadow: inset 0 100px 80px -80px rgba(0, 0, 0, .7);
    -webkit-box-shadow: inset 0 100px 80px -80px rgba(0, 0, 0, .7);
}

.footer-header {
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    margin: 10px 0 20px;
    letter-spacing: 1px;
}

.footer a {
    color: rgba(255, 255, 255, .3);
}

.footer .list-product > li + li {
    margin-top: 15px;
}

.footer .list-product .image {
    float: left;
    width: 60px;
    height: 40px;
    background: #fff;
    line-height: 40px;
}

.footer .list-product .info {
    margin-left: 70px;
}

.footer .list-product .info .info-title {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 2px 0 3px;
}

.footer .list-product .info .price {
    color: rgba(255, 255, 255, .3);
}

.footer-copyright {
    font-size: 12px;
    color: #a8acb1;
    background: #1d2226;
    padding: 15px 0;
}

.footer-copyright .copyright {
    float: left;
    line-height: 30px;
}

.footer-copyright .payment-method {
    float: right;
    text-align: right;
}

.footer-copyright .payment-method img {
    max-height: 30px;
}

/* ====== SECTION / TITLE / BREADCRUMB ====== */

.section-container {
    padding: 45px 0;
}

.section-container:before,
.section-container:after {
    content: '';
    display: table;
    clear: both;
}

.section-container.has-bg {
    position: relative;
    color: #fff;
}

.section-container.has-bg .cover-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.section-container.has-bg .cover-bg:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(36, 42, 48, .8);
}

.section-container.has-bg .container {
    position: relative;
    z-index: 1020;
}

.section-title {
    font-size: 20px;
    font-weight: 600;
    margin: -5px 0 25px;
    color: #212121;
}

.section-title small {
    margin-left: 5px;
    font-weight: 400;
    font-size: 14px;
    color: #999;
}

/* ====== CHECKOUT ====== */

.checkout {
    background: #fff;
    border-radius: 6px;
}

.checkout-header {
    background: #586269;
    border-radius: 6px 6px 0 0;
    padding: 25px 30px;
}

.checkout-header .row > div + div {
    border-left: 1px solid #3E4A52;
}

.checkout-body {
    padding: 25px 30px;
}

.checkout-footer {
    padding: 25px 30px;
    text-align: right;
    background: #85878A;
    border-radius: 0 0 6px 6px;
}

.checkout-footer .btn.btn-white {
    border-color: #fff;
}

.checkout-title {
    font-size: 14px;
    margin: 0 0 30px;
}

.checkout-title small {
    display: block;
    font-size: 14px;
    line-height: 20px;
    margin-top: 2px;
}

.checkout .payment-type {
    font-size: 28px;
    margin: 0;
}

.checkout .payment-type > li {
    float: left;
    line-height: 34px;
    padding: 0;
}

.checkout .payment-type > li a {
    color: #9c9c9c;
}

.checkout .payment-type > li.active a {
    color: #212121;
}

/* Step indicator */

.step {
    clear: both;
}

.step a {
    color: #AEB7BD;
    display: block;
    text-decoration: none;
}

.step .number {
    float: left;
    font-size: 24px;
    font-weight: 300;
    width: 30px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
}

.step .number:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -8px;
    height: 2px;
    background: #AEB7BD;
}

.step .info {
    margin-left: 40px;
}

.step .title {
    font-size: 16px;
}

.step .desc {
    font-size: 13px;
    color: #AEB7BD;
}

.step.active .number,
.step.active .title {
    color: #fff;
}

.step.active .number:before {
    background: #00acac;
}

/* ====== PRODUCT CARD (item-thumbnail) ====== */

.item.item-thumbnail {
    border-radius: 3px;
    border: 1px solid #c5ced4;
}

.item.item-thumbnail .item-image {
    height: 130px;
    text-align: center;
    padding: 15px;
    line-height: 100px;
    display: block;
    position: relative;
}

.item.item-thumbnail .item-image .discount {
    position: absolute;
    bottom: 0;
    right: 15px;
    line-height: 20px;
    padding: 2px 10px;
    color: #fff;
    background: #2d353c;
    font-weight: 600;
    font-size: 13px;
}

.item.item-thumbnail .item-info {
    padding: 15px;
    text-align: center;
}

.item.item-thumbnail .item-title,
.item.item-thumbnail .item-title a {
    font-weight: 600;
    color: #212121;
    font-size: 14px;
    line-height: 18px;
    max-height: 36px;
    overflow: hidden;
}

.item.item-thumbnail .item-title a:hover,
.item.item-thumbnail .item-title a:focus {
    color: #009688;
}

.item.item-thumbnail .item-desc {
    margin: 0;
    font-size: 12px;
    color: #707478;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item.item-thumbnail .item-discount-price {
    font-size: 12px;
    color: #999;
    text-decoration: line-through;
}

.item.item-thumbnail .item-price {
    margin: 3px 0;
    font-size: 16px;
    color: #009688;
    font-weight: 600;
}
