<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8" />
        {% block title %}<title>E-Tech Shop</title>{% endblock %}
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
    
        <!-- ================== BEGIN BASE CSS STYLE ================== -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/style.min.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/style-responsive.min.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/theme/default.css' %}" id="theme" rel="stylesheet" />
        <link href="{% static 'assets/css/animate.min.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/home.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/login.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/register.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/forget_password.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/change_password.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/chatbox.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/product_detail.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/checkout_info.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/layout.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/product.css' %}" rel="stylesheet" />


        <!-- ================== END BASE CSS STYLE ================== -->
        
        <!-- ================== BEGIN BASE JS ================== -->
        <script src="{% static 'assets/plugins/pace/pace.min.js' %}"></script>

        <!-- ================== END BASE JS ================== -->
    </head>
    {% block css %}

    {% endblock %}
<body>

<div id="page-container" class="fade">

    <!-- ================= TOP NAV (GIỮ TRỐNG) ================= -->
    <div id="top-nav" class="top-nav">
        <div class="container"></div>
    </div>

    <!-- ================= HEADER ================= -->
    <header id="header" class="header">
        <div class="container">
            <div class="header-container">

                <!-- LOGO + MOBILE TOGGLE -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="header-logo">
                        <a href="/">
                            <span class="brand"></span>
                            <strong>E-Tech</strong> Shop
                        </a>
                    </div>
                </div>

                <!-- MAIN NAV -->
                <nav class="header-nav">
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <ul class="nav">

                            <li class="active">
                                <a href="/">Trang chủ</a>
                            </li>

                            <li>
                                <a href="{% url 'product' %}">Sản phẩm</a>
                            </li>

                            <!-- CATEGORY -->
                            <li class="dropdown dropdown-full-width dropdown-hover">
                                <a href="#" data-toggle="dropdown">
                                    Danh mục
                                    <i class="fa fa-angle-down"></i>
                                </a>

                                <div class="dropdown-menu p-0">
                                    <div class="dropdown-menu-container">

                                        <div class="dropdown-menu-sidebar">
                                            <h4 class="title">Hãng</h4>
                                            <ul class="dropdown-menu-list">
                                                {% for c in categories %}
                                                <li>
                                                    <a href="{% url 'product_by_category' category_id=c.id %}">
                                                        {{ c.category }}
                                                    </a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>

                                        <div class="dropdown-menu-content">
                                            <h4 class="title">Sản phẩm nổi bật</h4>
                                            <div class="row">
                                                {% for item in shuffled_products %}
                                                <div class="col-md-3">
                                                    <ul class="dropdown-menu-list">
                                                        <li>
                                                            <a href="{% url 'product_detail' item.slug %}">
                                                                <i class="fa fa-angle-right text-muted"></i>
                                                                {{ item.product_name }}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </li>

                            <!-- ABOUT -->
                            <li class="dropdown dropdown-hover">
                                <a href="#" data-toggle="dropdown">
                                    Giới thiệu
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/about_us">Chính sách bảo hành</a></li>
                                    <li><a href="/faq">Tư vấn mua hàng</a></li>
                                </ul>
                            </li>

                            <!-- SEARCH -->
                            <li class="dropdown dropdown-hover">
                                <a href="#" data-toggle="dropdown">
                                    <i class="fa fa-search search-btn"></i>
                                </a>
                                <div class="dropdown-menu p-15">
                                    <form action="{% url 'home' %}" method="POST">
                                        {% csrf_token %}
                                        <div class="input-group">
                                            <input type="text"
                                                   name="search"
                                                   placeholder="Tìm sản phẩm..."
                                                   class="form-control bg-silver-lighter">
                                            <span class="input-group-btn">
                                                <button class="btn btn-inverse">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </li>

                        </ul>
                    </div>
                </nav>

                <!-- RIGHT NAV -->
                <nav class="header-nav">
                    <ul class="nav pull-right">

                        <!-- CART -->
                        <li class="dropdown dropdown-hover">
                            <a href="#" class="header-cart" data-toggle="dropdown">
                                <i class="fa fa-shopping-bag"></i>
                                <span class="total">{{ request.user.get_cart_count }}</span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-cart p-0">
                                <div class="cart-header">
                                    <h4 class="cart-title">Giỏ hàng</h4>
                                </div>

                                <div class="cart-body">
                                    {% if request.user.get_cart_count == 0 %}
                                        <p class="text-center p-15">
                                            Bạn chưa thêm sản phẩm nào
                                        </p>
                                    {% else %}
                                        {% load humanize %}
                                        {% for cart_items in request.user.user_carts.all %}
                                        <ul class="cart-item">
                                            <li>
                                                <div class="cart-item-image">
                                                    <img src="{{ cart_items.product.product_image.url }}">
                                                </div>
                                                <div class="cart-item-info">
                                                    <h4>{{ cart_items.product.product_name }}</h4>
                                                    <p class="price">
                                                        {{ cart_items.product.discounted_price|intcomma }} đ
                                                    </p>
                                                </div>
                                                <div class="cart-item-close">
                                                    <a href="{% url 'remove_cart' cart_items.product.slug %}">&times;</a>
                                                </div>
                                            </li>
                                        </ul>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="cart-footer">
                                    <div class="row row-space-10">
                                        <div class="col-xs-6">
                                            <a href="{% url 'add_to_cart' %}"
                                               class="btn btn-default btn-block">
                                                Xem giỏ
                                            </a>
                                        </div>
                                        <div class="col-xs-6">
                                            <a href="{% url 'product' %}"
                                               class="btn btn-inverse btn-block">
                                                Mua tiếp
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <!-- ACCOUNT -->
                        {% if request.user.is_authenticated %}
                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'my_account' %}">
                                Tài khoản của tôi
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">
                                / Đăng xuất
                            </a>
                        </li>
                        {% else %}
                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'login' %}">
                                Đăng nhập / Đăng ký
                            </a>
                        </li>
                        {% endif %}

                    </ul>
                </nav>

            </div>
        </div>
    </header>
    <!-- ================= END HEADER ================= -->

    {% block content %}{% endblock %}

    <!-- ================= POLICY ================= -->
    <section id="policy" class="section-container p-t-30 p-b-30">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-4">
                    <div class="policy">
                        <div class="policy-icon"><i class="fa fa-truck"></i></div>
                        <div class="policy-info">
                            <h4>Miễn phí giao hàng</h4>
                            <p>Toàn quốc – Nhanh – An toàn</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="policy">
                        <div class="policy-icon"><i class="fa fa-shield"></i></div>
                        <div class="policy-info">
                            <h4>Bảo hành 1 năm</h4>
                            <p>Chính hãng – Đổi trả dễ dàng</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="policy">
                        <div class="policy-icon"><i class="fa fa-user-md"></i></div>
                        <div class="policy-info">
                            <h4>Hỗ trợ kỹ thuật</h4>
                            <p>Tận tâm – Nhanh chóng</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- ================= FOOTER ================= -->
    <footer id="footer" class="footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <h4 class="footer-header">Về E-Tech</h4>
                    <p>
                        Chuyên cung cấp laptop, điện thoại và phụ kiện chính hãng,
                        mang đến trải nghiệm mua sắm hiện đại & an toàn.
                    </p>
                </div>

            </div>
        </div>
    </footer>

    <div id="footer-copyright">
        <div class="container">
            <div class="payment-method">
                <img src="{% static 'assets/img/payment_method.png' %}">
            </div>
            <div class="copyright">
                © E-Tech Shop – Thanh toán đa dạng
            </div>
        </div>
    </div>

</div>

</body>

    
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static 'assets/plugins/jquery/jquery-1.9.1.min.js' %}"></script>
	<script src="{% static 'assets/plugins/jquery/jquery-migrate-1.1.0.min.js' %}"></script>
	<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
	<!--[if lt IE 9]>
		<script src="assets/crossbrowserjs/html5shiv.js"></script>
		<script src="assets/crossbrowserjs/respond.min.js"></script>
		<script src="assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="{% static 'assets/plugins/jquery-cookie/jquery.cookie.js' %}"></script>
	<script src="{% static 'assets/js/apps.min.js' %}"></script>
	<!-- ================== END BASE JS ================== -->
	
	<script>
	    $(document).ready(function() {
	        App.init();
	    });
	</script>
    <!-- ================== AI CHATBOX ================== -->
<div id="ai-chatbox" class="ai-chatbox">
    <div class="ai-chat-header">
        <span>Trợ lý AI - Hỗ trợ mua hàng</span>
        <button id="chatbox-toggle" class="chatbox-toggle">×</button>
    </div>

    <div id="ai-chat-messages" class="ai-chat-messages"></div>

    <div class="ai-chat-input">
        <input type="text" id="ai-chat-input-text" placeholder="Nhập câu hỏi..." />
        <button id="ai-chat-send-btn">Gửi</button>
    </div>
</div>

<!-- Nút mở chatbox -->
<button id="chatbox-open-btn" class="chatbox-open-btn">
    <i class="fa fa-comments"></i>
</button>
<!-- ================== END AI CHATBOX ================== -->

        <script src="{% static 'assets/js/ai_chat.js' %}"></script>


</body>
</html>