<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8" />
        {% block title %}<title>E-Tech Shop</title>{% endblock %}
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
    
        <!-- ================== BEGIN BASE CSS STYLE ================== -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/style.min.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/style-responsive.min.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/theme/default.css' %}" id="theme" rel="stylesheet" />
        <link href="{% static 'assets/css/animate.min.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/home.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/chatbox.css' %}" rel="stylesheet" />


        <!-- ================== END BASE CSS STYLE ================== -->
        
        <!-- ================== BEGIN BASE JS ================== -->
        <script src="{% static 'assets/plugins/pace/pace.min.js' %}"></script>

        <!-- ================== END BASE JS ================== -->
    </head>
    {% block css %}

    {% endblock %}
<body>
     <!-- BEGIN #page-container -->
     <div id="page-container" class="fade">
        <!-- BEGIN #top-nav -->
        <div id="top-nav" class="top-nav">
            <!-- BEGIN container -->
            <div class="container">
                <div class="collapse navbar-collapse">

                   
                </div>
            </div>
            <!-- END container -->
        </div>
        <!-- END #top-nav -->
        <div id="header" class="header">
            <!-- BEGIN container -->
            <div class="container">
    <div class="header-container">
        <!-- BEGIN navbar-header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="header-logo">
                <a href="/">
                    <span class="brand"></span>
                    E-Tech Shop
                </a>
            </div>
        </div>
        <!-- END navbar-header -->

        <!-- BEGIN header-nav -->
        <div class="header-nav">
    <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav">

            <li class="active">
                <a href="/">Trang chủ</a>
            </li>

            <!-- NÚT SẢN PHẨM MỚI THÊM -->
            <li>
                <a href="{% url 'product' %}">
                    Sản phẩm
                </a>
            </li>
            <!-- HẾT MỤC SẢN PHẨM -->

            <li class="dropdown dropdown-full-width dropdown-hover">
                <a href="#" data-toggle="dropdown">
                    Danh mục
                    <i class="fa fa-angle-down"></i>
                    <span class="arrow top"></span>
                </a>

                <div class="dropdown-menu p-0">
                    <div class="dropdown-menu-container">

                        <div class="dropdown-menu-sidebar">
                            <h4 class="title">Hãng</h4>
                            <ul class="dropdown-menu-list">
                                {% for c in categories %}
                                <li>
                                    <a href="{% url 'product_by_category' category_id=c.id %}">{{ c.category }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="dropdown-menu-content">
                            <h4 class="title">Sản phẩm nổi bật</h4>

                            <div class="row">
                                {% for item in shuffled_products %}
                                <div class="col-md-3">
                                    <ul class="dropdown-menu-list">
                                        <li>
                                            <a href="{% url 'product_detail' item.slug %}">
                                                <i class="fa fa-fw fa-angle-right text-muted"></i> {{ item.product_name }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </li>

            <li class="dropdown dropdown-hover">
                <a href="#" data-toggle="dropdown">
                    Giới thiệu
                    <i class="fa fa-angle-down"></i>
                    <span class="arrow top"></span>
                </a>

                <ul class="dropdown-menu">
                    <li><a href="/about_us">Chính sách bảo hành</a></li>
                    <li><a href="/faq">Tư vấn mua hàng</a></li>
                </ul>
            </li>

            <li class="dropdown dropdown-hover">
                <a href="#" data-toggle="dropdown">
                    <i class="fa fa-search search-btn"></i>
                    <span class="arrow top"></span>
                </a>

                <div class="dropdown-menu p-15">
                    <form action="{% url 'home' %}" method="POST">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" placeholder="Search" name="search" class="form-control bg-silver-lighter" />
                            <span class="input-group-btn">
                                <button class="btn btn-inverse" type="submit"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                </div> 
            </li>

        </ul>
    </div>
</div>

        <!-- END header-nav -->

        <!-- BEGIN header-nav -->
        <div class="header-nav">
            <ul class="nav pull-right">
                <li class="dropdown dropdown-hover">
                    <a href="" class="header-cart" data-toggle="dropdown">
                        <i class="fa fa-shopping-bag"></i>
                        <span class="total">{{ request.user.get_cart_count }}</span>
                        <span class="arrow top"></span>
                    </a>
        
                    <div class="dropdown-menu dropdown-menu-cart p-0">
                        <div class="cart-header">
                            <h4 class="cart-title">Giỏ hàng  </h4>
                        </div>
                        <div class="cart-body">
                         
                            {% if request.user.get_cart_count == 0 %}
                            <h4 class="cart-title
                            ">Bạn chưa thêm sản phẩm nào vào giỏ hàng</h4>
                            {% else %}

                            {% for cart_items in request.user.user_carts.all %}
                           
                            <ul class="cart-item">
                                <li>
                                    <div class="cart-item-image"><img src="{{cart_items.product.product_image.url}}" alt="" /></div>
                                    {% load humanize %}
                                    <div class="cart-item-info">
                                        <h4>{{cart_items.product.product_name}}</h4>
                                        <p class="price">{{cart_items.product.discounted_price|intcomma }}</p>
                                    </div>
                                   
                                    <div class="cart-item-close">
                                        <a href="{% url 'remove_cart' cart_items.product.slug %}" data-toggle="tooltip" data-title="Remove">&times;</a>
                                    </div>

                                </li>
                             

                            </ul>
                            {% endfor %}

                           
                            {% endif %}
                         

                        </div>
                                <!-- <li>
                                    <div class="cart-item-image"><img src="{% static  'assets/img/imac.jpg' %}" alt="" /></div>
                                    <div class="cart-item-info">
                                        <h4>21.5-inch  </h4>
                                        <p class="price">$1299.00</p>
                                    </div>
                                    <div class="cart-item-close">
                                        <a href="#" data-toggle="tooltip" data-title="Remove">&times;</a>
                                    </div>
                                </li> -->

                                <!-- <li>
                                    <div class="cart-item-image"><img src="{% static 'assets/img/iphone.png' %}" alt="" /></div>
                                    <div class="cart-item-info">
                                        <h4>iPhone 6s 16GB - Silver</h4>
                                        <p class="price">$649.00</p>
                                    </div>
                                    <div class="cart-item-close">
                                        <a href="#" data-toggle="tooltip" data-title="Remove">&times;</a>
                                    </div>
                                </li> -->

                           

                        <div class="cart-footer">
                            <div class="row row-space-10">
                                <div class="col-xs-6">
                                    <a href="{% url 'add_to_cart' %}" class="btn btn-default btn-block">Xem giỏ hàng</a>
                                </div>

                                <div class="col-xs-6">
                                    <a href="{% url 'product' %}" class="btn btn-inverse btn-block">Tiếp tục mua sắm</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </li>

                {% if request.user.is_authenticated %}
     <li class="divider"></li>
    <li>
        <a href="{% url 'my_account' %}">
            {% if request.user.user_profile %}
                <img src="{{ MEDIA_URL }}{{ request.user.user_profile.url }}" class="user-img" alt="{{ request.user.first_name }}" />
            {% else %}
                <img src="{% static 'user_profile/default.webp' %}" class="user-img" alt="Default Profile Image" />
            {% endif %}
            <span class="hidden-xs">Tài khoản của tôi</span>
        </a>
    </li>
    <li>
        <a href="{% url 'logout' %}">
            <span class="hidden-xs">/Đăng xuất</span>
        </a>
    </li>
{% else %}
    <li class="divider"></li>
    <li>
        <a href="{% url 'login' %}">
            <span class="hidden-xs">Đăng nhập / Đăng ký</span>
        </a>
    </li>
{% endif %}
</ul>
        </div>
        <!-- END header-nav -->
    </div>
    <!-- END header-container -->
</div>
<!-- END container -->
</div>
<!-- END #header -->

{% block content %}


{% endblock %}

        <!-- BEGIN #policy -->
        <div id="policy" class="section-container p-t-30 p-b-30">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN row -->
                <div class="row">
                    <!-- BEGIN col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <!-- BEGIN policy -->
                        <div class="policy">
                            <div class="policy-icon"><i class="fa fa-truck"></i></div>
                            <div class="policy-info">
                                <h4>Miễn phí giao hàng trên toàn quốc</h4>
                                <p>Nhanh chóng – An toàn – Tận nơi trên toàn quốc.</p>
                            </div>
                        </div>
                        <!-- END policy -->
                    </div>
                    <!-- END col-4 -->
                    <!-- BEGIN col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <!-- BEGIN policy -->
                        <div class="policy">
                            <div class="policy-icon"><i class="fa fa-shield"></i></div>
                            <div class="policy-info">
                                <h4>>Bảo hành 1 năm cho điện thoại</h4>
                                <p>An tâm sử dụng – Chính hãng 100% – Đổi trả dễ dàng.</p>
                            </div>
                        </div>
                        <!-- END policy -->
                    </div>
                    <!-- END col-4 -->
                    <!-- BEGIN col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <!-- BEGIN policy -->
                        <div class="policy">
                            <div class="policy-icon"><i class="fa fa-user-md"></i></div>
                            <div class="policy-info">
                                <h4>Bảo hành 6 tháng cho phụ kiện</h4>
                                <p>Sản phẩm chính hãng – Đổi mới nếu lỗi từ nhà sản xuất</p>
                            </div>
                        </div>
                        <!-- END policy -->
                    </div>
                    <!-- END col-4 -->
                </div>
                <!-- END row -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #policy -->
    
        <!-- BEGIN #subscribe -->
    
        <!-- BEGIN #footer -->
        <div id="footer" class="footer">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN row -->
                <div class="row">
                    <!-- BEGIN col-3 -->
                    <div class="col-md-3">
                        <h4 class="footer-header">Về chúng tôi</h4>
                        <p>
                            Chúng tôi là <strong>E-Tech</strong> — một nhóm đam mê công nghệ, chuyên cung cấp laptop, điện thoại và phụ kiện chính hãng.  
                            Với sứ mệnh mang đến trải nghiệm mua sắm hiện đại, an toàn và tiện lợi nhất cho khách hàng.
                        </p>
                    </div>
                    <!-- END col-3 -->
                    <!-- BEGIN col-3 -->
                
                    <!-- END col-3 -->

                  <!-- BEGIN col-3 -->

        <div class="col-md-3">

    <ul class="list-unstyled list-product">

        {% for item in latest_products %}
       
        {% endfor %}
    </ul>
</div>

                </div>
                <!-- END row -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #footer -->
    
        <!-- BEGIN #footer-copyright -->
        <div id="footer-copyright" class="footer-copyright">
            <!-- BEGIN container -->
            <div class="container">
                <div class="payment-method">
                    <img src="{% static 'assets/img/payment_method.png' %}" alt="" />
                </div>
                <div class="copyright">
                    Chấp nhận thanh toán qua nhiều loại thẻ
                </div>
            </div>
            <!-- END container -->
        </div>
        <!-- END #footer-copyright -->
    </div>
    <!-- END #page-container -->
    
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static 'assets/plugins/jquery/jquery-1.9.1.min.js' %}"></script>
	<script src="{% static 'assets/plugins/jquery/jquery-migrate-1.1.0.min.js' %}"></script>
	<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
	<!--[if lt IE 9]>
		<script src="assets/crossbrowserjs/html5shiv.js"></script>
		<script src="assets/crossbrowserjs/respond.min.js"></script>
		<script src="assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="{% static 'assets/plugins/jquery-cookie/jquery.cookie.js' %}"></script>
	<script src="{% static 'assets/js/apps.min.js' %}"></script>
	<!-- ================== END BASE JS ================== -->
	
	<script>
	    $(document).ready(function() {
	        App.init();
	    });
	</script>
    <!-- ================== AI CHATBOX ================== -->
<div id="ai-chatbox" class="ai-chatbox">
    <div class="ai-chat-header">
        <span>Trợ lý AI - Hỗ trợ mua hàng</span>
        <button id="chatbox-toggle" class="chatbox-toggle">×</button>
    </div>

    <div id="ai-chat-messages" class="ai-chat-messages"></div>

    <div class="ai-chat-input">
        <input type="text" id="ai-chat-input-text" placeholder="Nhập câu hỏi..." />
        <button id="ai-chat-send-btn">Gửi</button>
    </div>
</div>

<!-- Nút mở chatbox -->
<button id="chatbox-open-btn" class="chatbox-open-btn">
    <i class="fa fa-comments"></i>
</button>
<!-- ================== END AI CHATBOX ================== -->

        <script src="{% static 'assets/js/ai_chat.js' %}"></script>


</body>
</html>